/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #87ceeb, #2e8b57);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  .header {
    background: linear-gradient(to right, #87ceeb, #2e8b57);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
    position: relative;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%, transparent);
    background-size: 8px 8px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}
  
  a {
    text-decoration: none;
    color: #555;
  }

  .cart {
    display: inline-block;
    transition: transform 0.3s ease;
}

.cart img {
    width: 30px;
    height: 30px;
}

.cart:hover {
    animation: shake 0.3s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
}
  
    
    .menu-icon {
    width: 30px;
    display: none;
    cursor: pointer;
    }
  
  h1, h2 {
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-up 0.5s ease-in-out 0.2s forwards;
  }
  
  section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-up 0.5s ease-in-out 0.4s forwards;
  }
  
  /* Image Container Styles */
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-up 0.5s ease-in-out 0.6s forwards;
  }
  
  #user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #user-image:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #change-image-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #change-image-button:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .pencil-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  #change-image-button:hover .pencil-icon {
    transform: rotate(180deg);
  }
  
  /* Button Styles */
  .normal-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .normal-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  /* Animations */
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 800px) {
    .menu-icon {
        display: inline-block; /* Show the menu icon */
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Ensure items are spaced apart */
        padding: 20px;
    }
    
    nav {
        flex: 1;
        text-align: right;
        display: none; /* Hide the nav items by default */
        position: absolute;
        top: 130px; /* Adjust as per your header height */
        left: 0;
        background: linear-gradient(to right, #87ceeb, #2e8b57); /* Background color for the dropdown */
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 100; /* Ensure dropdown is above other content */
    }
    
    nav.active {
        display: block; /* Show the nav items */
    }
    
    nav ul {
        flex-direction: column; /* Stack items vertically */
        padding: 20px;
        margin: 0; /* Remove default margin */
    }
    
    nav ul li {
        margin: 10px 0; /* Add spacing between items */
        text-align: center; /* Center align items */
    }
.row {
text-align: center;
margin: 100px auto 50px;
}
.col-2, .col-3, .col-4 {
flex-basis: 100%;
}
.single-product .row {
text-align: left;
}
.single-product .col-2 {
padding: 20px 0;
}
.single-product h1 {
font-size: 26px;
line-height: 32px;
}
.cart-info p {
    display: flex;
    flex-wrap: wrap;
}
}

@media (max-width: 600px) {
    body, html {
        overflow-x: hidden;
    }
    
    .menu-icon {
        display: inline-block; /* Show the menu icon */
        cursor: pointer;/* Show the menu icon */
        position: absolute;
        top: 77px; /* Adjust as per your header height */
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Ensure items are spaced apart */
        padding: 10px;
    }
    
    nav {
        flex: 1;
        text-align: center; /* Center align items */
        display: none; /* Hide the nav items by default */
        position: absolute;
        top: 130px; /* Adjust as per your header height */
        left: 0;
        background: linear-gradient(to right, #87ceeb, #2e8b57); /* Background color for the dropdown */
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 100; /* Ensure dropdown is above other content */
    }
    
    nav.active {
        display: block; /* Show the nav items */
    }
    
    nav ul {
        flex-direction: column; /* Stack items vertically */
        padding: 20px;
        margin: 0; /* Remove default margin */
    }
    
    nav ul li {
        margin: 15x 0; /* Add spacing between items */
    }
.row {
text-align: center;
}
.col-2, .col-3, .col-4 {
flex-basis: 100%;
}
.single-product .row {
text-align: left;
}
.single-product .col-2 {
padding: 20px 0;
}
.single-product h1 {
font-size: 26px;
line-height: 32px;
}
.cart-info p {
margin-left: -50px;
}
.cart-info p {
display: none;
}
}

@media screen and (max-width: 800px) {
  .menu-icon {
      display: inline-block; /* Show the menu icon */
  }
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Ensure items are spaced apart */
      padding: 20px;
  }
  
  nav {
      flex: 1;
      text-align: right;
      display: none; /* Hide the nav items by default */
      position: absolute;
      top: 140px; /* Adjust as per your header height */
      left: 0;
      background: linear-gradient(to right, #87ceeb, #2e8b57); /* Background color for the dropdown */
      width: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 100; /* Ensure dropdown is above other content */
  }
  
  nav.active {
      display: block; /* Show the nav items */
  }
  
  nav ul {
      flex-direction: column; /* Stack items vertically */
      padding: 20px;
      margin: 0; /* Remove default margin */
  }
  
  nav ul li {
      margin: 10px 0; /* Add spacing between items */
      text-align: center; /* Center align items */
  }
}

@media (max-width: 600px) {
  body, html {
      overflow-x: hidden;
  }
  
  .menu-icon {
      display: inline-block; /* Show the menu icon */
      cursor: pointer;/* Show the menu icon */
      position: absolute;
      top: 77px; /* Adjust as per your header height */
  }
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Ensure items are spaced apart */
      padding: 10px;
  }
  
  nav {
      flex: 1;
      text-align: center; /* Center align items */
      display: none; /* Hide the nav items by default */
      position: absolute;
      top: 130px; /* Adjust as per your header height */
      left: 0;
      background: linear-gradient(to right, #87ceeb, #2e8b57); /* Background color for the dropdown */
      width: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 100; /* Ensure dropdown is above other content */
  }
  
  nav.active {
      display: block; /* Show the nav items */
  }
  
  nav ul {
      flex-direction: column; /* Stack items vertically */
      padding: 20px;
      margin: 0; /* Remove default margin */
  }
  
  nav ul li {
      margin: 15x 0; /* Add spacing between items */
  }
}